body {
  margin: 0;
  color: black;
}
.general {
  margin: 2vh 5vh 1vh 5vh;
  height: max-content;
  background-color: white;
  border-radius: 1vh;
  border: 0.1vh rgb(255, 255, 255) solid;
  box-shadow: rgb(200, 200, 200) 0vh 0vh 2vh;
}
.menue {
  height: 85vh;
  width: 17%;
  margin: 5vh 1vh 5vh 5vh;
  border-radius: 1vh;
  border: 0.1vh rgb(255, 255, 255) solid;
  box-shadow: rgb(200, 200, 200) 0vh 0vh 2vh;
}
.topic {
  width: 90%;
  height: 7vh;
  margin: 5%;
  border-radius: 1vh;
  border: 0.1vh rgb(255, 255, 255) solid;
  box-shadow: rgb(129, 129, 129) 0vh 0vh 1vh;
  text-align: center;
  font-size: 2.5vh;
  background-color: white;
  overflow: hidden;
}
.topic:hover {
  background-color: rgba(105, 105, 143, 0.192);
  border: rgba(105, 105, 143, 0.192);
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
.haupt {
  width: 50%;
  height: 80vh;
  border: 2px black solid;
}
